<div class="container"> 
    <h2 class="logout-header text-center my-5">Are You Sure You Want To Logout</h2>
    <form action="/users/logout" method="post"  class="text-center">
        <button class="btn btn-danger" type="submit">Logout</button>
    </form>
</div>