<div class="container"> 
    <h2 class="logout-header text-center my-5">Are You Sure You Want To Logout</h2>
    <form  class="text-center">
        <a href="#" class="btn btn-danger">Logout</a>
    </form>
</div>